.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;  
  min-width: 600px;
  padding: 15px;
  margin-top: -10px;
  .chat_header {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    margin: 35px auto;
    width: 92%;
    border-radius: .5rem;
    .chat_headerlink {
      display: flex;
      align-items: center;
      .chat__HeaderAvatar {
        width: 50px;
        height: 50px;
      }
      .chat__HeaderName {
        padding-left: 20px;
        flex: 1;
      }
    }
    .chat_headerRight {
      margin-left: auto;
    }
  } 
  .chat_body {
    flex: 1;
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: .5rem;
    overflow: scroll;
    width: 90%;
    margin: 0 auto;
    .chat_message {
      position: relative;
      font-size: 13px;
      padding: 10px 15px 10px 15px;
      width: fit-content;
      border-radius: 10px;
      background-color: #ffffff;
      margin-bottom: 25px;
      .chat_name {
        position: absolute;
        top: -17px;
        color: black;
        font-weight: 800;
        min-width: 75px;
        font-size: x-small;
      }
      .chat_timestamp {
        margin-left: 10px;
        font-size: xx-small;
      }
    }
    .chat_receiver {
      margin-left: auto;
      background-color: #303030;
      color: #f1f1f1;
    }
  }
  .chat_footer {
    display: flex;
    align-items: center;
    height: 75px;
    width: 96.5%;
    margin: 0 auto;
    .chat__Form {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input {
        flex: .8;
        border-radius: .5rem;
        border: none;
        outline-width: 0;
        padding: .8rem 1.1rem;
        background-color: #f1f1f1;
      }
      .footer__Options {
        display: flex;
        flex: .1;
        justify-content: center;
      }
      .footer__Submit {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        outline: none;
        border: none;
        color: white;
        flex: .1;
        padding: .65rem 1.1rem;
        border-radius: .5rem;
        &:hover {
          cursor: pointer;
          background-color: grey;
        }
      }
    }
  }
}

