.sidebar_Chat {
  display: flex;
  flex-direction: column;
  .sidebar_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    .sidebar_heading {
      display: flex;
      width: 90%;
      margin: 0 auto;
      .avatar {
        margin-left: 0;
        margin-top: 0;
        font-size: 2rem;
        width: 55px;
        height: 55px;
      }
      .sidebar__User {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        h1 {
          font-size: 1.5rem;
          margin-top: 2px;
        }
        .user__Status {
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: 200ms ease-in;
          p {
            font-size: .8rem;
            margin-top: 1px;
          }
          &:hover {
            p {
              opacity: .8;
            }
          }
          .user__Available {
            margin-right: .5rem;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: green;
          }
          .user__Unavailable {
            margin-right: .5rem;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: grey;
          }
        }
      }
    }    
  }
  .sidebar_search {
    display: flex;
    align-items: center;
    .sidebar_searchContainer {
      display: flex;
      align-items: center;
      background-color: #f3f3f3;
      width: 75%;
      margin: 0 auto;
      padding: .3rem .7rem;
      border-radius: .5rem;
      margin-bottom: 1.5rem;
      .MuiSvgIcon-root {
        color: rgb(201, 201, 201);
          font-size: 20px;
          padding: 5px;
      }
      input {
        border: none;
        outline: none;
        margin-left: 10px;
        background: none;
        width: 100%;
      }
    }
  }
}








.sidebar_searchContainer > 

.sidebar_chats {
  background-color: white;
  overflow: hidden;
  padding: 1rem 0;
}
