.followingthumb {
    width: 105px;
    height: 85px;
    padding: 5px;
    border-radius: 20px;
    margin-top: 15px;

}
.followingthumb > p {
    font-size: 10px;
    font-weight: 700;
    
}
.following_image {
    margin-top: 7px;
    width: 60px;
    border-radius: 50%;
}
