.forgot__page {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 0 auto;
    width: 27%;
    min-width: 400px;
    height: 40%;
    border-radius: .5rem;
    margin-top: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .email__field {
        margin-top: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75%;
        border-radius: 0.5rem;
        border: 1px solid rgb(235, 235, 235);
        input {
            width: 86.5%;
            padding: 5px 15px;
            outline: none;
            border: none;
            padding: .8rem;
        }
    }
    button {
        background: black;
        margin-top: 1.75rem;
        color: white;
        border-radius: .5rem;
        outline: none;
        border: none;
        width: 30%;
        padding: 10px;
        margin-bottom: 10px;
        transition: 200ms ease-in;
        &:hover {
            transition: 200ms ease-in;
            cursor: pointer;
            background:#f1f1f1;
            color: black;
        }
    }
    p {
        font-size: 12px;
        font-weight: 700;
        color: grey;
        transition: 200ms ease-in;
        text-align: center;
        margin-top: 1rem;
        &:hover {
            cursor: pointer;
            color: black;
            transition: 200ms ease-in;
        }
    }
}