.inbox_container {
  display: grid;
  grid-template-columns: 20% 50%;
  margin-top: 64px;
  .inbox_sidebar {
    background-color: white;
    min-width: 350px;
    height: 93vh;
    z-index: 99;
    border: 1px solid #fafafa;
  }
  .inbox_chat {
    display: flex;
    background-color: white;
    height: 100%;
    max-height: 775px;
    justify-content: center;
    min-width: 700px;
  }
}