body {
  background-color: #fafafa;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

@import './Pages/all';
@import './Layout/all';
@import './Components/all';

* {
  top: 0;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
