.explore_container {
    margin-top: 125px;
    padding-bottom: 200px;
}

.explore_container > h1 {
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 60px;
}

.explore_users {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.explore_profileThumbs {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    grid-template-columns: repeat(auto-fit, minmax(260px, 210px));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 50px;
}

