.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    width: 87%;
    margin: 0 auto;
}

.my-masonry-grid_column {
    padding: 20px;
    background-clip: padding-box;
}


.my-masonry-grid_column > div { 
    margin-bottom: 30px;
    text-align: center;
}