.landingnav {
    padding: 1em;
    background-color: white;
}

.landing_container {
    display: flex;
    place-content: center;
}

.landingnav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_logo {
    margin-top: 10px;
    width: 95px;
}

.landingnav_left {
    margin-top: 8px;
}

.landing_leftop {
    padding: 0 25px 0 25px;
    font-size: 16px;
    color: rgb(184, 184, 184);
    font-weight: bold;
}

.landing_leftop:hover {
    color: black;
    cursor: pointer;
}

.landingnav_right {
    margin-left: 25%;
    margin-top: 3px;
}

.landing_rightop {
    padding: 0 20px 0 20px;
    color: rgb(184, 184, 184);
    font-weight: bold;
}

.landing_rightop:hover {
    color: black;
    cursor: pointer;
}

.signup-cta {
    margin-left: 5px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: solid 2px black;
    border-radius: 5em;
    padding: 7px 15px;
    transition: 200ms ease-in;
}

.signup-cta:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}