.footer {
    margin-top: auto;
    margin-top: 50px;
    padding-top: 20px;
    height: 125px;
    justify-content: center;
}

.footer > h3 {
    margin-top: 20px;
    color: black;
    text-align: center;
    transition: 200ms ease-in;
}

.footer > h3:hover {
    cursor: pointer;
}

.bottomfooter {
    background-color: rgb(56, 56, 56);
    height: 200px;
}