@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  top: 0;
  margin: 0px;
}

*::-webkit-scrollbar {
  display: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.app {
  position: absolute;
  left: 0;
  right: 0;
}
